body {
  background-color: green;
}
.card {
  background-color: white;
  text-align: center;
  align-items: center;
  display: inline-block;
  margin: auto;
  padding: 15px;
  width: 100px;
  height: 150px;
  border-radius: 5%;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 40px;
}
.bottom-suit {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 40px;
}

.spade,
.top-suit {
  content: "\2660";
}
.spade,
.top-suit,
.bottom-suit {
  content: ♣;
}
.spade,
.top-suit,
.bottom-suit {
  content: ♥;
}
.heart,
.top-suit,
.bottom-suit {
  content: ♦;
}
.number {
  position: absolute;
  top: 60px;
  left: 55px;
  font-size: 50px;
}
